@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apercu";
  src: local("Apercu"),
    url("./fonts/apercu-pro/apercu_regular_pro.otf") format("otf");
  /* Add other formats as you see fit */
}

* {
  font-family: "Lato", sans-serif;
}

.rotate-x-180 {
  transform: rotateX(180deg);
}

input[type="checkbox"]::before {
  content: "2714";
  width: 20px;
  height: 20px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  transform-origin: bottom left;
  position: absolute;
}
